.root {
  flex-grow: 1;
}

.nav {
  padding: 0px;
  margin-right: 90px;
  margin-left: 110px;
}

.col {
  background-color: transparent;
  border: none;
  color: white;
}

.menuButton {
  margin-right: 5px;
}

.title {
  flex-grow: 1;
}