.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  position: fixed;
  left: 10px;
  top: 10px;
}

.App-header {
  background-image:url(picture/background6.jpg);
  background-repeat: repeat;
  background-color: #000000;
  min-height: 90vh;
  line-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(20px + 4vmin);
  font-weight: bold;
  color: white;
  width: 100%;
  margin:auto;
}