.filledButtonfirst {
  background-color: white;
  left: -10%;
}

.filledButtonlast {
  background-color: white;
  left: 10%;
}

.filledButtonemail {
  background-color: white;
  left: 30%;
}

.filledButtontelephone {
  background-color: white;
  left: 50%;
}

.buttonPosition {
  position: absolute;
  top: 80%;
  left: 50%;
}