.title_atelier {
  top: 0%;
  position: fixed;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 60%;
  height: 215%;
}

.filled_buttonfirst {
  background-color: white;
  margin: 40px !important;
}

.filled_buttonlast {
  background-color: white;
  margin: 40px !important;
  
}

.filled_buttonemail {
  background-color: white;
  margin: 40px !important;
}

.filled_buttontelephone {
  background-color: white;
  margin: 40px !important;
}

.filled_buttonstudentcard {
  background-color: white;
  margin: 40px !important;
}

.gender_position {
 position: absolute;
 margin: 40px !important;
}

.form_position2 {
  background-color: white;
}

.button_position {
  margin: 15% !important;
  margin-bottom: 100% !important;

}

.title_gender {
  color: grey !important;
}