.flex_container {
  display: flex;
  flex-direction: column;
}

.form_position {
  background-color: white;
}

.filledButtonname2 {
  background-color: white;
}

.filledButtonemail2 {
  background-color: white;
}

.buttonPosition2 {
}