.form_position {
  background-color: white;
  top: 15%;
  left: 70%;
  width: 50%;
}

.filledButtonname2 {
  background-color: white;
  left: -20%;
  top: -70%;
}

.filledButtonemail2 {
  background-color: white;
  top: 33%;
  left: -70%;
}

.buttonPosition2 {
  position: absolute;
  top: 80%;
  left: 50%;
}