.title {
  position: absolute;
  left: 40%;
  top: 7.5%;
}

.form_position {
  height: 200px;
  position: absolute;
  top: 40.5%;
  left: 60%;
  width: 20%;
}

.filledButton {
  background-color: white;
  left: -75%;
  top: -37%;
}

.buttonPosition2 {
  position: absolute;
  top: 80%;
  left: 50%;
}